#img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#kartu {
    height: 100px;
    width: 100%;
}

#paragraf {
    width: 100%;
    font-size: 0.75em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

#judul {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

#tanggal {
    font-size: 0.6em;
    color: gray;
}

#konten {
    height: 120px;
    width: 95%;
    /* margin: 0; */
}

#konten a {
    text-decoration: none;
}

.img-hover-zoom {
    overflow: hidden;
}

.img-hover-zoom img {
    transition: transform .5s ease;
}

.img-hover-zoom:hover img {
    transform: scale(1.5);
}